.page_container {
  min-height: 100vh;
  background-color: var(--primary-color-light);
  overflow: hidden;
}

.navbar {
  background-color: var(--primary-color-dark);
}

.nav_item_container button {
  background-color: transparent;
  border: none;
  width: 100px;
}

.nav_item_container a,
.nav_item_container button,
.switch label {
  padding: 0px 15px;
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary-color-light);
}

.switch label {
  padding-left: 0px;
}
.nav_item_container a:hover,
.nav_item_container button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: var(--secondary-color-dark);
}

.nav_item_container a svg,
.nav_item_container button svg {
  margin-right: 5px;
  color: var(--secondary-color-dark);
}
.content_container {
  padding: 10px;
}

[data-theme="dark"] .toggle span {
  filter: brightness(0) invert(1);
}

.switch input:checked {
  background-color: var(--secondary-color-dark);
  border: var(--secondary-color-light);
}

@media screen and (max-width: 990px) {
  .nav_item_container a,
  .nav_item_container button {
    padding: 10px 0px;
  }

  .nav_item_container button {
    width: 70px;
  }
}
