.page_container {
  min-height: 100vh;
  background-color: var(--primary-color-light);
}

.navbar {
  background-color: var(--primary-color-dark);
  padding: 15px 30px !important;
}

.nav_item_container a {
  padding: 0px 15px;
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary-color-light);
}

.nav_item_container a:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: var(--secondary-color-dark);
}

.nav_item_container a svg {
  margin-right: 5px;
  color: var(--secondary-color-dark);
}
.content_container {
  padding: 10px;
}

[data-theme="dark"] .toggle span{
  filter: brightness(0) invert(1);
}
