.list {
  list-style: none;
}

.list li {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color-light);
  color: #000;
  border: 1px solid var(--secondary-color-dark);
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  margin-bottom: 10px;
}

.product_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.image {
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 15px;
}

.product_info_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_info_text_container p {
  margin: 0px;
  font-size: 18px;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.no_products_message_container {
  text-align: center;
  font-size: 20px;
}

.no_products_message_container p {
  color: var(--secondary-color-dark);
}

.add_product_button_container {
  text-align: center;
  margin-bottom: 30px;
}

.add_product_button {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .list li {
    padding-right: 5px;
  }
  .product_info_text_container p {
    font-size: 16px;
  }

  .buttons_container button {
    padding: 5px;
  }
  .add_product_button {
    width: 100%;
  }
}
