.title {
  text-align: center;
  color: var(--secondary-color-light);
  font-weight: bold;
}

[data-theme=""] .title {
  color: #000;
}

.pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.active {
  border-width: 3px !important;
}
