:root {
  --primary-color-light: #f4eeff;
  --primary-color-dark: #dcd6f7;
  --secondary-color-light: #a6b1e1;
  --secondary-color-dark: #424874;
}

[data-theme="dark"] {
  --primary-color-light: #455d7a;
  --primary-color-dark: #233142;
  --secondary-color-light: #e3e3e3;
  --secondary-color-dark: #f95959;
}

* {
  box-sizing: border-box;
  font-family: "Zain", sans-serif;
}

body {
  background-color: var(--secondary-color-light);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:disabled {
  background-color: #ccc;
  border: 1px solid var(--secondary-color-dark);
  cursor: not-allowed;
  box-shadow: none;
}

.btn-primary {
  background-color: var(--secondary-color-dark);
  border-color: var(--secondary-color-light);
  color:  var(--secondary-color-light);
}
.btn-primary:hover {
  background-color: var(--secondary-color-light);
  border: 1px solid var(--secondary-color-dark);
  color: var(--secondary-color-dark);
}

[data-theme=""] .btn-secondary {
  color: #000;
}

.btn-secondary {
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color-dark);
}

.btn-secondary:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-light);
}

.invalid-feedback,
.error_text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
  font-weight: bold;
}

.title {
  text-align: center;
  color: var(--secondary-color-light);
  font-weight: bold;
  font-size: 30px;
}

[data-theme=""] .title {
  color: #000;
}

.form-label {
  color: var(--secondary-color-dark);
}

.btn-light,
.btn-light:hover {
  border: 1px solid var(--secondary-color-dark);
}
