@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wdth,wght@100..125,100..700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
}

body {
  background-color: var(--secondary-color-light);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:disabled {
  background-color: #ccc;
  border: 1px solid var(--secondary-color-dark);
  cursor: not-allowed;
  box-shadow: none;
}

.btn-primary {
  background-color: var(--secondary-color-light);
  border: 1px solid var(--secondary-color-dark);
}

.btn-primary:hover {
  background-color: var(--secondary-color-dark);
  border-color: var(--secondary-color-light);
}

.invalid-feedback {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
